<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>whitelist</key>
	<array>
		<string>at.obdev.littlesnitchd.plist</string>
		<string>at.obdev.LittleSnitchUIAgent.plist</string>
		<string>com.adobe.AAM.Updater-1.0.plist</string>
		<string>com.adobe.AdobeCreativeCloud.plist</string>
		<string>com.adobe.adobeupdatedaemon.plist</string>
		<string>com.adobe.agsservice.plist</string>
		<string>com.adobe.ARM.[...].plist</string>
		<string>com.adobe.ARMDC.Communicator.plist</string>
		<string>com.adobe.ARMDC.SMJobBlessHelper.plist</string>
		<string>com.adobe.ARMDCHelper.cc24aef4a1b90ed56a...plist</string>
		<string>com.adobe.CS4ServiceManager.plist</string>
		<string>com.adobe.fpsaud.plist</string>
		<string>com.adobe.SC.FPFeedbackService-1.0.plist</string>
		<string>com.adobe.SwitchBoard.plist</string>
		<string>com.adobe.versioncueCS4.plist</string>
		<string>com.amazon.cloud-player.plist</string>
		<string>com.amazon.music.plist</string>
		<string>com.backblaze.bzbmenu.plist</string>
		<string>com.backblaze.bzserv.plist</string>
		<string>com.barebones.bbedit.plist</string>
		<string>com.barebones.authd.plist</string>
		<string>com.bjango.istatmenusdaemon.plist</string>
		<string>com.bombich.ccc.plist</string>
		<string>com.bombich.ccchelper.plist</string>
		<string>com.c-command.SpamSieve.LaunchAgent.plist</string>
		<string>com.charlessoft.pacifist.helper.plist</string>
		<string>com.ea.origin.ESHelper.plist</string>
		<string>com.epson.esua.launcher.plist</string>
		<string>com.f-secure.sync.BTCloud.plist</string>
		<string>com.fitbit.galileod.plist</string>
		<string>com.github.GitHub.GHInstallCLI.plist</string>
		<string>com.google.keystone.agent.plist</string>
		<string>com.google.keystone.daemon.plist</string>
		<string>com.hp.help.tocgenerator.plist</string>
		<string>com.hp.productresearch.plist</string>
		<string>com.kodak.BonjourAgent.plist</string>
		<string>com.kodak.KODAK AiO Annual Opt.plist</string>
		<string>com.kodak.KODAK AiO Firmware Updater.plist</string>
		<string>com.kodak.KODAK AiO Software Updater.plist</string>
		<string>com.leapfrog.connect.shell.plist</string>
		<string>com.leapfrog.connect.authdaemon.plist</string>
		<string>com.leapfrog.connect.monitor.plist</string>
		<string>com.malwarebytes.MBAMHelperTool.plist</string>
		<string>com.microsoft.office.licensing.helper.plist</string>
		<string>com.microsoft.office.licensingV2.helper.plist</string>
		<string>com.mcafee.menulet.plist</string>
		<string>com.mcafee.reporter.plist</string>
		<string>com.mcafee.virusscan.fmpd.plist</string>
		<string>com.nvidia.cuda.launcher.plist</string>
		<string>com.nvidia.nvroothelper.plist</string>
		<string>com.oracle.java.Helper</string>
		<string>com.oracle.java.Helper-Tool.plist</string>
		<string>com.oracle.java.Java-Updater.plist</string>
		<string>com.parallels.desktop.launch.plist</string>
		<string>com.parallels.desktop.launchdaemon.plist</string>
		<string>com.parallels.DesktopControlAgent.plist</string>
		<string>com.parallels.mobile.dispatcher.launchdaemon.plist</string>
		<string>com.parallels.mobile.kextloader.launchdaemon.plist</string>
		<string>com.parallels.mobile.prl_deskctl_agent.launchagent.plist</string>
		<string>com.parallels.vm.prl_pcproxy.plist</string>
		<string>com.prosofteng.DriveGenius.locum.plist</string>
		<string>com.seagate.TBDecorator.plist</string>
		<string>com.skype.skypeinstaller.plist</string>
		<string>com.sony.SonyAutoLauncher.agent.plist</string>
		<string>com.sophos.common.servicemanager.plist</string>
		<string>com.sophos.uiserver.plist</string>
		<string>com.spotify.webhelper.plist</string>
		<string>com.thursby.pkard.tokendagent.plist</string>
		<string>com.valvesoftware.steamclean.plist</string>
		<string>com.wacom.pentablet.plist</string>
		<string>com.wacom.wacomtablet.plist</string>
		<string>com.wdc.WDPrivilegedHelper.plist</string>
		<string>jp.co.canon.Inkjet_Extended_Survey_Agent.plist</string>
		<string>jp.co.canon.MasterInstaller.plist</string>
		<string>org.macosforge.xquartz.privileged_startx.plist</string>
		<string>org.macosforge.xquartz.startx.plist</string>
		<string>org.virtualbox.startup.plist</string>
		<string>org.virtualbox.vboxwebsrv.plist</string>
		<string>uk.co.markallan.clamxav.freshclam.plist</string>
		<string>ws.agile.1PasswordAgent.</string>
	</array>
	<key>item1</key>
	<array>
		<string>shopping assistant</string>
		<string>cinema-plus</string>
		<string>cinema +</string>
		<string>cinema ploos</string>
		<string>searchme</string>
		<string>slick savings</string>
		<string>spigot</string>
		<string>flashmall</string>
		<string>gophoto.it</string>
		<string>omnibar</string>
		<string>shopy mate</string>
	</array>
	<key>item2</key>
	<array>
		<string>/System/Library/Frameworks/v.framework</string>
		<string>/System/Library/Frameworks/VSearch.framework</string>
		<string>/Library/PrivilegedHelperTools/Jack</string>
		<string>/Library/InputManagers/CTLoader</string>
		<string>/Library/Application Support/Conduit</string>
		<string>~/Library/Internet Plug-Ins/ConduitNPAPIPlugin.plugin</string>
		<string>~/Library/Internet Plug-Ins/TroviNPAPIPlugin.plugin</string>
		<string>/Applications/SearchProtect.app</string>
		<string>/Applications/WebTools.app</string>
		<string>/Applications/cinemapro1-2.app</string>
		<string>~/Applications/cinemapro1-2.app</string>
	</array>
	<key>item3</key>
	<array>
		<string>/Applications/Genieo</string>
		<string>/Applications/InstallMac</string>
		<string>/Applications/Uninstall Genieo</string>
		<string>/Applications/Uninstall IM Completer.app</string>
		<string>/usr/lib/libgenkit.dylib</string>
		<string>/usr/lib/libgenkitsa.dylib</string>
		<string>/usr/lib/libimckit.dylib</string>
		<string>/usr/lib/libimckitsa.dylib</string>
		<string>/Library/PrivilegedHelperTools/com.genieoinnovation.macextension.client</string>
		<string>~/Library/Application Support/Genieo</string>
		<string>~/Library/Application Support/com.genieoinnovation.Installer</string>
		<string>/Library/Frameworks/GenieoExtra.framework</string>
	</array>
	<key>item4</key>
	<array>
		<string>/Library/LaunchAgents/com.genieo.completer.update.plist</string>
		<string>/Library/LaunchAgents/com.genieo.engine.plist</string>
		<string>/Library/LaunchAgents/com.genieoinnovation.macextension.client.plist</string>
		<string>/Library/LaunchAgents/com.genieoinnovation.macextension.plist</string>
		<string>/Library/LaunchDaemons/com.genieoinnovation.macextension.client.plist</string>
		<string>/Library/LaunchDaemons/Jack.plist</string>
		<string>~/Library/LaunchAgents/com.genieo.completer.download.plist</string>
		<string>~/Library/LaunchAgents/com.genieo.completer.ltvbit.plist</string>
		<string>~/Library/LaunchAgents/com.genieo.completer.update.plist</string>
		<string>~/Library/LaunchAgents/com.webhelper.plist</string>
		<string>~/Library/LaunchAgents/com.webtools.uninstaller.plist</string>
		<string>~/Library/LaunchAgents/com.webtools.update.agent.plist</string>
	</array>
	<key>item5</key>
	<array>
		<string>/private/etc/launchd.conf</string>
		<string>~/Conduit</string>
		<string>~/Trovi</string>
		<string>~/Library/Application Support/webHelperApp/</string>
		<string>~/Library/Caches/com.Conduit.takeOverSearchAssetsMac</string>
		<string>~/Library/Caches/com.VSearch.bulk.installer</string>
		<string>~/Library/cinemapro1-2/</string>
		<string>~/Library/LaunchAgents/Safari Security</string>
		<string>~/Library/LaunchAgents/UpdateDownloder</string>
		<string>~/Library/LaunchAgents/WebServerSocketApp</string>
		<string>~/Library/Preferences/com.genieo.global.settings.plist.lockfile</string>
		<string>~/Library/Preferences/com.geneio.settings.plist.lockfile</string>
		<string>~/Library/Preferences/com.geneio.global.settings.plist</string>
		<string>~/Library/Saved Application State/com.genieo.RemoveGenieoMac.savedState</string>
		<string>~/Library/Saved Application State/com.VSearch.bulk.installer.savedstate</string>
		<string>~/Library/WebTools/</string>
	</array>
</dict>
</plist>
